/*
color: #ff4d4d
*/

.scroll-content {
    background: #ff4d4d;
}

button {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    background: url("../img/button-bg.png") no-repeat center;
    background-size: cover;
    border: 0;
    outline: 0;
}